In [38]:
import numpy as np
import pandas as pd
import pandas.plotting

from pandas import Series, DataFrame
import matplotlib
import matplotlib.pyplot as plt



%matplotlib inline

from pylab import rcParams
import seaborn as sb
import nltk

import scipy.stats
import scipy.optimize
import scipy.spatial

import math
import io

import statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [39]:

df1 = pd.read_csv("C:/Users/aksha/Desktop/CQuant.io Test/energy-analyst-data-exercise-public/historicalPriceData/ERCOT_DA_Prices_2016.csv")
df2= pd.read_csv("C:/Users/aksha/Desktop/CQuant.io Test/energy-analyst-data-exercise-public/historicalPriceData/ERCOT_DA_Prices_2017.csv")
df3 = pd.read_csv("C:/Users/aksha/Desktop/CQuant.io Test/energy-analyst-data-exercise-public/historicalPriceData/ERCOT_DA_Prices_2018.csv")
df4= pd.read_csv("C:/Users/aksha/Desktop/CQuant.io Test/energy-analyst-data-exercise-public/historicalPriceData/ERCOT_DA_Prices_2017.csv")

In [40]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122626 entries, 0 to 122625
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date             122626 non-null  object
 1   SettlementPoint  122626 non-null  object
 2   Price            122626 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.8+ MB

# Task 1: Combine the files into one dataframe

In [41]:
df = df1.append([df2, df3, df4])

In [42]:
df.head()

                  Date SettlementPoint  Price
0  2016-01-01 00:00:00       HB_BUSAVG  18.42
1  2016-01-01 00:00:00      HB_HOUSTON  18.42
2  2016-01-01 00:00:00       HB_HUBAVG  18.42
3  2016-01-01 00:00:00        HB_NORTH  18.43
4  2016-01-01 00:00:00        HB_SOUTH  18.38

In [91]:
df['Price'].fillna(df['Price'].median(), inplace=True)

In [92]:
df['Date'] =  pd.to_datetime(df['Date'], format='%Y%m%d %H:%M:%S')

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 490840 entries, 0 to 122625
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date             490840 non-null  datetime64[ns]
 1   SettlementPoint  490840 non-null  object
 2   Price            490840 non-null  float64
 3   Year             490840 non-null  int64
 4   Month            490840 non-null  int64
 5   Zone             490840 non-null  object
 6   Hour             490840 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 30.0+ MB

# Task 2: Compute Average Price by Year, Month, Settlement Point

In [94]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [95]:
df1 = df.groupby(['Year','Month','SettlementPoint']).agg({'Price': 'mean'}).reset_index()

In [96]:
df1

     Year  Month SettlementPoint      Price
0    2016      1       HB_BUSAVG  19.209301
1    2016      1      HB_HOUSTON  19.565726
2    2016      1       HB_HUBAVG  19.258696
3    2016      1        HB_NORTH  19.133306
4    2016      1        HB_SOUTH  19.210054
..    ...    ...             ...        ...
499  2018     12         LZ_LCRA  30.582661
500  2018     12        LZ_NORTH  31.131949
501  2018     12        LZ_RAYBN  31.553535
502  2018     12        LZ_SOUTH  32.112728
503  2018     12         LZ_WEST  34.980847

[504 rows x 4 columns]

In [97]:
df1 = df1.rename(columns = {'Price':'AveragePrice'})

# Task 3: Write to CSV

In [98]:
df1.to_csv("C:/Users/aksha/Desktop/CQuant.io Test/energy-analyst-data-exercise-public/historicalPriceData/AveragePriceByMonth.csv", index = False)

# Task 4: To Calculate Volatility

In [99]:
df['Zone'] = df['SettlementPoint'].str[:2]

In [100]:
df2 = df.loc[(df['Price'] > 0) & (df['Zone'] == 'HB')]

In [141]:
df2

,Date,SettlementPoint,Price,Year,Month,Zone,Hour,vols
0,2016-01-01 00:00:00,HB_BUSAVG,18.42,2016,1,HB,0,0.205513
1,2016-01-01 00:00:00,HB_HOUSTON,18.42,2016,1,HB,0,0.205513
2,2016-01-01 00:00:00,HB_HUBAVG,18.42,2016,1,HB,0,0.205513
3,2016-01-01 00:00:00,HB_NORTH,18.43,2016,1,HB,0,0.205513
4,2016-01-01 00:00:00,HB_SOUTH,18.38,2016,1,HB,0,0.205513
...,...,...,...,...,...,...,...,...
122613,2017-12-31 23:00:00,HB_HOUSTON,21.49,2017,12,HB,23,0.205513
122614,2017-12-31 23:00:00,HB_HUBAVG,21.61,2017,12,HB,23,0.205513
122615,2017-12-31 23:00:00,HB_NORTH,21.74,2017,12,HB,23,0.205513
122616,2017-12-31 23:00:00,HB_SOUTH,21.37,2017,12,HB,23,0.205513
122617,2017-12-31 23:00:00,HB_WEST,21.85,2017,12,HB,23,0.205513

In [150]:
logprices  = np.log10(df2.Price)

In [162]:
df2['log-prices'] = df2.iloc[np.log10(df2.Price)]

ValueError: cannot reindex from a duplicate axis

In [161]:
df3 = df2.groupby(['Year','SettlementPoint', 'log-prices']).reset_index()

AttributeError: 'DataFrameGroupBy' object has no attribute 'reset_index'

In [146]:
def calc():
    logprices = np.log10(df2.Price)
    hrlyvols = logprices.std()
    np.where(df2.Year == 2016,1,0)
    return hrlyvols

In [155]:
df2016 = df.loc[(df['Year'] ==2016)]
df2017 = df.loc[(df['Year'] ==2017)]
df2018 = df.loc[(df['Year'] ==2018)]
df2019 = df.loc[(df['Year'] ==2019)]

In [157]:
logprices_2016 = np.log10(df2016.Price).std()

C:\Users\aksha\anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\aksha\anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)